<div class="row my-4">
    <div class="col-sm-6">
        <h3 class="fs-2">List Of Tasks</h3>
    </div>
    <div class="col-sm-6 text-end">
        <button (click)="showForm = !showForm" class="btn btn-dark btn-sm">
            <i class="fa fa-plus"></i> New Task
        </button>
    </div>
</div>
<div class="row">
    <div *ngIf="showForm" class="col-sm-6 mx-auto">
        <div class="form-group">
            <label class="fw-bold" for="label">label</label>
            <input [(ngModel)]="myTask.label" type="text" id="label" class="form-control">
        </div>
        <div class="form-check my-2">
            <label class="form-check-label">
                <input [(ngModel)]="myTask.completed" class="form-check-input" type="checkbox">
            </label>
        </div>
        <div *ngIf="edit_task == true; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <button (click)="updateTask()" class="btn btn-warning w-100">
                <i class="fas fa-sync-alt"></i> Update Task
            </button>
        </ng-template>
        <ng-template #elseBlock>
            <button (click)="createTask()" class="btn btn-success w-100">
                <i class="fas fa-paper-plane"></i> New Task
            </button>
        </ng-template>
    </div>
</div>
<div class="row my-4">
    <div class="col-md-6 mx-auto">
        <input (keyup)="searchTasks()" placeholder="search..." [(ngModel)]="searchText" type="text" id="label" class="form-control">
        <ul class="list-group">
          <li *ngFor="let task of resultTasks" class="list-group-item d-flex justify-content-between align-items-center">
            <button (click)="editTask(task)" class="btn btn-warning btn-sm">
                <i class="fas fa-pencil-alt"></i>
            </button>
            <span class="list-label fw-bold">{{ task.label }}</span>
            <span (click)="completedTask(task)" [ngClass]="{
                'bg-info': task.completed,
                'bg-danger': !task.completed
            }" class="badge rounded-pill">
                <i [ngClass]="{
                    'fa-thumbs-up': task.completed,
                    'fa-thumbs-down': !task.completed
                }" class="fa"></i>
            </span>
            <button (click)="deleteTask(task.id)" class="btn btn-sm btn-dark">
                <i class="fa fa-trash"></i>
            </button>
          </li>
        </ul>
    </div>
</div>
